<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiping.biz.maintenanceplan.dao.PlanExecuteSituationDao">
    <!--批量插入维保计划执行情况-->
    <insert id="batchInsertData" parameterType="java.util.List">
        INSERT INTO t_plan_execute_situation(id,maintenance_plan_id,plan_execute_time,execute_status) VALUES
        <foreach collection="list" item="data" index="index" separator=",">
            (#{data.id},#{data.maintenancePlanId},#{data.planExecuteTime},#{data.executeStatus})
        </foreach>
    </insert>
    <!--批量修改维保计划执行情况-->
    <update id="batchUpdateData" parameterType="java.util.List">
        <foreach collection="list" item="situation" index="index" open="" close="" separator=";">
            UPDATE t_plan_execute_situation
            <set>
                execute_status = #{situation.executeStatus}
            </set>
            <where>
                id = #{situation.id}
            </where>
        </foreach>
    </update>
    <!--批量删除维保计划执行情况-->
    <delete id="batchDeleteData" parameterType="java.util.List">
        DELETE FROM t_plan_execute_situation WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>